<div class="container mx-auto my-3">
    <div class="container m-4">
        <h3><u>Account Information:</u></h3>
        <p><strong>Username:</strong> <%=@user.username %></p>
        <p><strong>Email:</strong> <%=@user.email%><p>
    </div>
    <hr>
    <div class="container m-4">
        <h3><u>Past Orders:</u></h3>
        <ul>
            <% @user.orders.each do |order| %>
                <li>Order ID: <%= link_to "AEo784#{order.id}", order_path(order) %></li>
            <%end%>
        </ul>
    </div>
</div>