<div class="container mx-auto my-3">
    <h3>Items in Cart:</h3>
        <% cart.each do |i|%>
            <div class="row">
                <div class="col-4">
                    <img class="item_image py-3" src="https://loremflickr.com/200/200/dogtoy" alt="A dog toy">
                </div>
                <div class="col-6 my-auto">
                    <ul>
                        <li><strong>Name:</strong> <%=Item.find(i["item"]).name%></li>
                        <li><strong>Quantity:</strong> <%= i["quantity"] %></li>
                        <li><strong>Amount:</strong> $<%= (Item.find(i["item"]).price * i["quantity"]) %></li>
                    </ul>
                </div>
            </div>
        <%end%>
    <h3><u>Total:</u> $<%= cart.sum {|i| Item.find(i["item"]).price * i["quantity"]} %></h3>
</div>