<p>Welcome To</p>
<%= image_tag("heroimage.jpg") %>
<p><a href="/items">Checkout our items</a></p>
<div class="about_one">
    <h3>About Us</h3>
    <p> Malcolm and Alex created Bruno's Treats in 2020 and is inspired by 
    their dog Bruno's love for treats.  We are a Brooklyn based business
    that sells dog treats, toys and care products.  Our mission is to make healthy
    treats, that we know your dog will love.  Our treats are homemade
    using  high quality locally sourced ingredients. We sell our products on 
    our online store and at local New York farmers market's.   
    </p>
</div>



