<h1>Welcome to The Dog Shop!</h1>
<p>Checkout our items</p>
<ul>
    <li><%= button_to "All Items", items_path, method: 'get' %></li>
</ul>

<%# Things To Add %>

<%# Copy describing business %>
<%# about section %>
<div class="about_one">
    <h3>About</h3>
    <p></p>
</div>